main {}
/* 배경 공통&개별값 */
main .bg {
    background-position:center;
    background-repeat:no-repeat;
}
main .bg1 {
    background-image:url(../images/bg.jpg);
    height:1002px;
}
/* -------------------- 1. 표지 -------------------- */
main .bg1 section {
    width:1250px; margin:0 auto;
}
/* 1.표지-로고 */
main .bg1 section h1 {}
main .bg1 section h1 a {}
main .bg1 section h1 a img {}
/* 1.표지-제목 */
main .bg1 section h2 {
    text-align:center; color:#fff;
    font-size:4.375rem; letter-spacing:-0.2px; line-height:1.2;
    margin:200px 0 60px;
}
main .bg1 section h2 em {font-weight:700;}
/* 1.표지-후원하기 링크 */
/* 가상선택자 생성하여 아이콘이미지 삽입 */
main .bg1 section .sponsor_link::after {
    content:''; /* 지우면 안됨 */
    background-image:url(../images/btn_right_arrow.svg);
    background-repeat:no-repeat;
    width:32px; height:32px;
    display:inline-block;
}
main .bg1 section .sponsor_link {
    /* CSS 회전각도단위 deg */
    background:linear-gradient(90deg, #fe9300, #fe7300);
    /* gradient적용을 위해 background통합속성을 사용했을 때 해당 요소 추가 배경이미지 꾸미기를 원한다면 가상선택자(before, after)를 활용하는 것이 좋다. */
    /* .sponsor_link flex 설정 */
    display:flex;
    justify-content:center;
    align-items:center;
    /* text-align:center; line-height:72px; */
    font-size:2.125rem; color:#fff; font-weight:700; border-radius:35px;
    width:409px; height:72px;
    margin:0 auto;
}
/* 1.표지-후원관련 질문 링크 */
main .bg1 section .sponsor_question {
    background-color:#050505;
    /* text-align:center; line-height:52px; */
    font-size:1.625rem; color:#fff;
    width:415px; height:52px; border-radius:25px;
    margin-top:190px;
    float:right; /* 오른쪽 정렬 */
    /* .sponsor_question flex 설정 */
    display:flex;
    justify-content:center;
    align-items:center;
}
main .bg1 section .sponsor_question::before {
    content:'';
    background-image:url(../images/icon_sms.svg);
    background-repeat:no-repeat;
    display:inline-block;
    width:22px; height:22px;
}
main .bg1 section .sponsor_question::after {
    content:'';
    background-image:url(../images/btn_right_arrow.svg);
    background-repeat:no-repeat;
    display:inline-block;
    width:22px; height:22px;
    background-size:22px;
}