main {text-align:center; /* width:1920px; */}
/* 배경 공통&개별값 */
main .bg > section {width:1250px; margin:0 auto;}
main .bg {
    background-position:center;
    background-repeat:no-repeat;
}
main .bg1 {
    background-image:url(../images/bg1.jpg);
    height:2000px;
}
main .bg3 {
    background-image:url(../images/bg3.jpg);
    height:672px;
}

/* -------------------- 1. 표지 -------------------- */
main .bg1 .bg1_1 {}
main .bg1 .bg1_1 h1 {padding-top:150px;}
main .bg1 .bg1_1 h2 {
    font-size:4.375rem; font-weight:700; color:#fff;
    line-height:1.3; letter-spacing:0.2px; margin:35px 0 125px;
}
main .bg1 .bg1_1 h2 em {font-weight:700; color:#6CF460; }
main .bg1 .bg1_1 h2 em:nth-child(2) {font-weight:700; color:#806BFB;}
main .bg1 .main_img {margin:0 auto;}
main .bg1 .bg1_2 {}
main .bg1 .bg1_2 h2 {
    font-size:3.438rem; font-weight:500;
    line-height:1.2; letter-spacing:-0.2px;
    margin:90px 0;
}
main .bg1 .bg1_2 h2 strong {font-size:4.375rem; font-weight:900;}
/* 1.표지-버튼 공통 */
main .bg1 .bg1_2 .btn {
    width:1062px; margin:0 auto;
    display:flex;
    justify-content:space-between;
}
main .bg1 .bg1_2 .btn .tutorial_btn,
main .bg1 .bg1_2 .btn .download_btn {
    font-size:2.5rem; font-weight:700; margin-bottom:150px;
    padding:25px 55px; border-radius:60px;
    background:linear-gradient(90deg, #6CF460, #806BFB);
}
/* 1.표지-버튼 화살표 가상선택자 */
main .bg1 .bg1_2 .btn .tutorial_btn::after,
main .bg1 .bg1_2 .btn .download_btn::after {
    content:'';
    background-image:url(../images/arrow.svg);
    background-repeat:no-repeat;
    width:26px; height:28px;
    display:inline-block;
    margin-left:25px;
}
/* -------------------- 2. 퀴즈 -------------------- */
main .bg2 {}
main .bg2 section {background-color:#191919; border-radius:50px; height:2300px; padding:150px 0;}
main .bg2 section .event_time {
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
}
main .bg2 section .event_time h1 {
    font-size:3.75rem; font-weight:700; color:#fff;
    letter-spacing:-0.2px;
    width:345px; height:104px; background:linear-gradient(-60deg, #FF3A64, #6CF460);
    border-radius:90px;
    display:flex;
    justify-content:center;
    align-items:center;
}
/* event 제목 양옆 데코 가상선택자 */
main .bg2 section .event_time h1::before {
    content:'';
    background-image:url(../images/shine_deco.svg);
    background-repeat:no-repeat;
    width:35px; height:35px;
    margin-right:15px;
}
main .bg2 section .event_time h1::after {
    content:'';
    background-image:url(../images/shine_deco.svg);
    background-repeat:no-repeat;
    width:35px; height:35px;
    margin-left:15px;
}
main .bg2 section .event_time h2 {
    font-size:3.438rem; font-weight:500; color:#fff;
    line-height:1.3; letter-spacing:0.2px;
    margin:80px 0 66px;
}
/* 2.퀴즈 - 제한시간  */
main .bg2 section .event_time h3 {
    font-size:1.625rem; color:#FF3A64;
}
main .bg2 section .event_time .limit_time {
    margin:40px 0 135px;
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
}
main .bg2 section .event_time .limit_time .count {
    font-size:3.438rem; font-weight:500; letter-spacing:-0.2px; color:#636363;
}
main .bg2 section .event_time .limit_time .count span {
    color:#fff; margin:0 31px;
    width:130px; line-height:120px; background-color:#000;border-radius:20px;
    display:inline-block;
}
main .bg2 section .event_time .limit_time .date {
    width:511px;
    display:flex;
    justify-content:space-between;
    margin-top:15px;
}
main .bg2 section .event_time .limit_time .date p {
    font-size:2.5rem; font-weight:200; color:#636363;
}
/* 2.퀴즈 - checkbox  */
main .bg2 section .event_quiz {}
main .bg2 section .event_quiz h2 {color:#fff; font-size:2.5rem;}
main .bg2 section .event_quiz #quiz_frm {}
main .bg2 section .event_quiz #quiz_frm .quiz_radio {}
main .bg2 section .event_quiz #quiz_frm .quiz_radio ul {
    padding:0 106px; margin:50px 0 44px;
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
}
main .bg2 section .event_quiz #quiz_frm .quiz_radio ul li {
    display:flex;
    flex-flow:column nowrap;
}
main .bg2 section .event_quiz #quiz_frm .quiz_radio ul li > label {
    margin-bottom:20px;
}
main .bg2 section .event_quiz #quiz_frm .quiz_radio ul li .check {
    height:25px;
    display:flex;
    justify-content:center;
}
/* 2.퀴즈 - 기존 radio 제거 */
main .bg2 section .event_quiz #quiz_frm .quiz_radio ul li .check input[name=ai] {display:none;}
/* 2.퀴즈 - radio 활성화 시 */
main .bg2 section .event_quiz #quiz_frm .quiz_radio ul li .check input[name=ai]:checked+label {background-image:url(../images/checked_epik.svg);}
/* 2.퀴즈 - radio 비활성화(기본) */
main .bg2 section .event_quiz #quiz_frm .quiz_radio ul li .check label {
    background-image:url(../images/unchecked_epik.svg);
    background-repeat:no-repeat;
    padding-left:50px;
    font-size:1.25rem; color:#fff;
}
main .bg2 section .event_quiz #quiz_frm .btn {
    display:flex;
    justify-content:center;
    align-items:center;
}
main .bg2 section .event_quiz #quiz_frm .btn button {
    padding:16px 40px;
    border:4px solid #FF3A64; border-radius:60px;
    font-size:1.625rem; color:#FF3A64;
    background-color:#191919;
}
main .bg2 section .event_quiz #quiz_frm .btn button::after {
    content:'';
    background-image:url(../images/double_arrow_right.svg);
    background-repeat:no-repeat;
    width:24px; height:24px;
    display:inline-block;
    margin-left:12px;
}
/* 2. 퀴즈 : 쿠폰 */
main .bg2 section .event_coupon {}
main .bg2 section .event_coupon h2 {
    font-size:2.5rem; color:#fff; line-height:1.5;
    margin:175px 0 159px;
}
main .bg2 section .event_coupon h2 em {
    font-size:3.125rem; font-weight:700; letter-spacing:-0.2px;
    position:relative; top:3px;
}
main .bg2 section .event_coupon h2 .pro {
    background:linear-gradient(-60deg, #806BFB, #6CF460);
    font-size:1.563rem; font-weight:700; letter-spacing:-0.4px;
    width:98px; line-height:46px; border-radius:48px;
    margin:0 16px 0 10px;
    display:inline-block;
    position:relative; bottom:5px;
}
main .bg2 section .event_coupon h2 .pro::before {
    content:'';
    background-image:url(../images/pro_shine.svg);
    background-repeat:no-repeat;
    width:18px; height:18px;
    display:inline-block;
    margin-right:5px;
}
main .bg2 section .event_coupon .coupon_wrap {
    margin:0 auto; width:1068px;
    display:flex;
    justify-content:space-between;
}
main .bg2 section .event_coupon .coupon_wrap li {
    width:504px; height:231px;
    background-image:url(../images/coupon_bg.svg);
}
main .bg2 section .event_coupon .coupon_wrap li h3 {font-size:1.625rem; font-weight:500; color:#FF3A64;}
main .bg2 section .event_coupon .coupon_wrap li h3 p {}
main .bg2 section .event_coupon .coupon_wrap li h3 p em {}
main .bg2 section .event_coupon .coupon_wrap li h3 p span {}
main .bg2 section .event_coupon .coupon_wrap li h3 p del {}