main {
    width:1024px;
    font-family:"Noto Sans KR", sans-serif;
    text-align:left;
    margin:0 auto;
}
main > * {width:500px; margin:84px auto 0;}
main h1 {font-size:4.375rem; font-weight:900; letter-spacing:-2px;}
main > h2 {font-size:1.25rem; margin:50px auto 75px;}
/* 이메일,패스워드 속성선택자 */
main #login_frm input[name^=user] {
    background-color:#fff;
    width:100%; line-height:53px; padding-left:15px; border-radius:10px;
    border:1px solid #aaa;
    color:#aaa;/*input 입력 글자 색상*/
}
main #login_frm input[name^=user]::placeholder {color:#ff0000}/*placeholder 글자 색상*/
main #login_frm fieldset {}
main #login_frm fieldset dl {}
main #login_frm fieldset dl dt {font-size:1.875rem; font-weight:700; margin-bottom:18px; letter-spacing:-0.2px;}
main #login_frm fieldset dl dd {margin-bottom:38px;}
main #login_frm fieldset h2 {font-size:1.875rem; font-weight:700; margin-bottom:32px; letter-spacing:-0.2px;}
/* 공통 버튼 적용-속성선택자 */
main #login_frm .btn button[type=submit] {
    width:100%;
    padding:15px 0;
    font-weight:700;
    border:1px solid #aaa; border-radius:10px;
}
/* 개별 버튼 */
main #login_frm .btn #login_btn {
    color:#fff; background-color:#222222;
    margin-bottom:18px;
}
main #login_frm .btn #login_google_btn {
    color:#222; background-color:#fff;
    margin-bottom:62px;
}
main .join_link {text-align:center; color:#555555;}
main .join_link a {color:#000; font-weight:700;}