header {
    width:100%;
    height:70px; background-color:#fff; padding:0 30px;
    display:flex; justify-content:space-between; align-items:center;
    position:fixed; left:0; top:0; z-index:5;
}
header h1 {}
header h1 a {width:118px;}
header h1 a img {width:100%;}
/* header-nav design */
header nav {}
header nav .gnb {display:flex; justify-content:flex-start; align-items:center;}
header nav .gnb li {margin-right:101px; position:relative;}
header nav .gnb li:last-child {margin-right:0;}
header nav .gnb li > a {font-weight:700;}
/* sub 정렬 */
header nav .gnb li .sub {position:absolute; left:0; top:32px; display:none; /* none적용하기 */}
header nav .gnb li .sub li {width:100%; /* border:1px solid pink; */ margin-bottom:11px;}
header nav .gnb li .sub li > a {font-size:0.938rem; font-weight:400; letter-spacing:-0.2px; border:1px solid red;}
header nav .gnb li .sub:last-child {display:flex; flex-flow:column nowrap; justify-content:center; display:none; /* none적용하기 */}
header nav .gnb li:last-child .sub li {width:170px;}
header nav .gnb li:last-child .sub li a img {width:100%;}
/* header-right */
header .right {margin-left:97px;}
header .right a {}
header .right a img {width:29px; margin-left:3px;}
/* e:header */
/* main 시작 */
main {}
main .top {position:relative;}
main .top p {}
main .top > p > img {width:100%; position:fixed;}
main .top .top_contents {
    width:100%;
    position:absolute; text-align:center; top:115px;
}
main .top .top_contents * {margin:0 auto;}
main .top .top_contents h1 {font-size:5rem; font-weight:800; color:#fff; letter-spacing:-0.2px; margin-bottom:30px;}
main .top .top_contents p:nth-child(2) {font-size:1.25rem; font-weight:500; color:#fff; letter-spacing:-0.2px; margin-bottom:20px;}
main .top .top_contents .catalog_download {margin-bottom:515px;}
main .top .top_contents .catalog_download a {
    font-weight:500;
    background-color:#002C5F; color:#fff; padding:0 20px; line-height:36px; display:inline-block;
}
main .top .top_contents .catalog_download a:first-child {margin-right:3px;}
main .top .top_contents p img {width:45px; filter:invert(100%);}